@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 10px;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  height: 100%;
}

.faq {
margin-top: 150px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 30px;
    background: #fff;

  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.5);
}

.design {
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px 24px;
}

.pattern-mobile {
  width: 240px;
}
.pattern-dekstop {
  display: none;
}
.woman-mobile {
  position: absolute;
  top: -95px;
  width: 240px;
  height: 180px;

}
.woman-dekstop {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
h1 {
  color: #1e1f36;
  font-family: Kumbh Sans;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;

  /* justify-content: space-between; */
  gap: 15px;
}





.questions {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
}
.scroll {
  display: flex;
  justify-content:space-between;
  width: 100%;
  height: 50px;
  align-items: center;
  cursor: pointer;
}
.arrows {
  width: 8px;
  height: 4px;
  transition: 0.3s;
  
  
 
  cursor: pointer;
}

.line {
  width: 300px;
  height: 1px;
  background: #e8e8ea;
}
h2 {
  color: #4b4c5f;
  font-family: Kumbh Sans;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2:hover {

  color: #f47b56;
}

/* .answers:hover {
  cursor: pointer;
} */


.answers{
  width: 279px;
  font-weight: 400;
  line-height: 10px;
display: none;
}


.scroll.active > .arrows{
  transform: rotate(180deg);
  
  
  

}



.scroll.active > h2 {
  color: #1e1f36;
  font-weight: 700;
} 



@media (min-width: 1440px) {

  body{
    background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
    background-repeat: no-repeat;
    height: 100vh;
  }
  .faq {
    margin-top: 0;
    width: 920px;
    height: 509px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pattern-mobile {
    display: none;
  }
  .woman-mobile {
    width:100%;
    height: 300px;
     left: -300px;
     fill: #6862E6;
    top: 150px;
  }
  .pattern-dekstop {
    display: flex;
    width: 100%;
    position: absolute;
    left: -550px;
    
    
  }
  /* .woman-dekstop {
    display: flex;
    position: absolute;
    width: 471.694px;
    height: 277.972px;
    left: -100px;
    top: -30px  ;


  } */
  .container {
    margin-top: 50px;
    margin-left: 400px;
  }
}
